<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vincent.eip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".GlobalClass">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyA-ohADk0J8fx3QbzZVLyXvfyU7iznd5-8"/>
        <activity
            android:name=".Activity.TestLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".Activity.DecoderActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.HotelSheetActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activity.ServicesActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activity.SectorActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activity.ListRequestsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activity.messages.ListMessagesActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.devices.ListDevicesActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activity.goldenbook.GoldenBookActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
